.sat-list-box {
  padding: 10px;
  border: 2px solid #ccc;
  margin-top: 10px;
  height: 410px;
  overflow: hidden;
}

.sat-list-btn {
  text-transform: none;
  margin-bottom: 10px;
  font-size: 1em;
  color: #fff;
}

.sat-list-track-btn {
  padding: 10px 36px;
  background-color: #2bb673;
}

.sat-list-stop-btn {
  padding: 10px 49px;
  background-color: #df3636;
}

.sat-list {
  height: 335px;
  overflow: scroll;
}
